.grit42-accordion {
  padding: 0;
 
}

.grit42-accordion .grit42-accordion__expander {
  list-style-type: none;
  border-bottom: 1px solid black;
  padding: 5px 0;
  margin-bottom: 10px;

  &__title {
    color: red;
  }
}

.grit42-accordion__expander:hover {
  cursor: pointer;
}

.grit42-accordion__items {
  list-style-type: square;
  &__item {
    color: green;
    &--selected {
      color: purple;
    }
  }
}