.grit42-accordion {
  padding: 0;
 
}

.grit42-accordion .grit42-accordion__expander {
  list-style-type: none;
  border-bottom: 1px solid black;
  background: #171f2a;

  &__title {
    color: #fff27f;
  }
}

.grit42-accordion__expander:hover {
  cursor: pointer;
}

.grit42-accordion__items {
  padding: 0;
  list-style-type: none;
  &__item {
    color: #ecedee;
    &--selected {
      color: purple;
    }

    &:nth-child(even) {
      background: #1d2532;
    }

    &:nth-child(odd) {
      background: #242d3c;
    }
    
  }
  
}
